.main {
    width: 100%;
    padding: 1.2rem;

    .tasksContainerHeader {
        color: coral;
        display: inline-block;
        font-size: 2.2rem;
        text-shadow: 2px 1px 2px white, -1px 3px 2px black;
    }

    .noTaksSign {
        background-color: #461e1e;
        line-height: 1.4;
        letter-spacing: 0.3px;
        width: 51%;
        min-width: 32%;
        text-align: center;
        height: min-content;
        padding: 0.5rem;
        border: 1px solid coral;
        border-radius: 0.5rem;
    }

    .showFormButton {
        width: 10rem;
        margin: 1rem;
        border: 1px solid coral;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 5px;
        font-size: 1.1rem;
        font-weight: 700;
        color: #fd9898;
        position: absolute;
        left: 0rem;
        top: 0.1rem;
        transition: all 100ms ease-in-out;
    }

    .showFormButton:hover {
        cursor: pointer;
        color: coral;
        box-shadow: 1px 1px 10px white;
    }

    .showFormButton:active {
        background-color: white;
    }

    .newTasksContaner {
        width: 100%;
        min-width: 33%;
        display: flex;
        gap: 1.5rem;
        margin-top: 1rem;
        flex-wrap: wrap;

        h2 {
            color: white;
            text-align: center;
            font-size: 2.5rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            box-shadow: 0px 0px 11px 1px #a59494;
            backdrop-filter: brightness(0.4);
        }

        .loadingText {
            font-size: 1.5rem;
            color: white;
            background-color: black;
            text-align: center;
            border-radius: 0.8rem;
            border: 1px solid rgb(207, 104, 66);
            backdrop-filter: brightness(0.4);
        }
    }
}
