.main {
    width: 63%;
    margin: 2.5rem;
    background: #0000009e;
    border-radius: 1rem;
    padding: 1.2rem;

    .tasksContainerHeader {
        color: coral;
        display: inline-block;
        font-size: 2.2rem;
        text-shadow: 2px 1px 2px white, -1px 3px 2px black;
    }

    .noTaksSign {
        background-color: #461e1e;
        line-height: 1.4;
        letter-spacing: 0.3px;
        width: 51%;
        min-width: 32%;
        text-align: center;
        height: min-content;
        padding: 0.5rem;
        border: 1px solid coral;
        border-radius: 0.5rem;
    }

    .showFormButton {
        width: 10rem;
        margin: 1rem;
        border: 1px solid coral;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 5px;
        font-size: 1.1rem;
        font-weight: 700;
        color: #fd9898;
        position: absolute;
        left: 0rem;
        top: 0.1rem;
        transition: all 200ms ease-in-out;
    }

    .showFormButton:hover {
        cursor: pointer;
        color: coral;
        box-shadow: 1px 1px 10px white;
    }

    .showFormButton:active {
        background-color: white;
    }

    .newTasksContaner {
        width: 100%;
        min-width: 33%;
        display: flex;
        gap: 1.5rem;
        margin-top: 1rem;
        flex-direction: row;
        flex-wrap: wrap;

        h2 {
            color: white;
            text-align: center;
            font-size: 2.5rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            box-shadow: 0px 0px 11px 1px #a59494;
            backdrop-filter: brightness(0.4);
        }

        .loadingText {
            font-size: 1.5rem;
            color: white;
            background-color: black;
            text-align: center;
            border-radius: 0.8rem;
            border: 1px solid rgb(207, 104, 66);
            backdrop-filter: brightness(0.4);
        }

        .taskItem {
            width: 32%;
            color: coral;
            font-size: 1.4rem;
            display: flex;
            flex-direction: column;
            border: 1px solid coral;
            flex-wrap: nowrap;
            border-radius: 1rem;
            overflow: hidden;
            padding: 0.7rem;
            box-shadow: 0px 0px 11px 1px #a59494;
            backdrop-filter: brightness(0.4);

            .taskDetails {
                width: 30%;
                transition: all 200ms ease-in-out;
            }

            .taskBody {
                box-sizing: border-box;
                width: 100%;
                font-family: inherit;
                vertical-align: middle;
            }
            h3.taskName,
            h3.taskBody,
            .taskOwner,
            .taskStart,
            .taskEnd {
                color: white;
                text-decoration: underline;
                font-weight: 760;
            }

            .buttonsContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                padding: 0.2rem;

                button {
                    margin: 0.2rem;
                    padding: 0.4rem;
                    width: 11rem;
                    border: 1px solid rgba(255, 127, 80, 0.514);
                    border-radius: 0.8rem;
                    background-color: transparent;
                    transition: all 200ms ease-in-out;
                }

                button:hover {
                    cursor: pointer;
                    background-color: #0c0c0c;
                    box-shadow: 0.2rem 0.1rem 1rem white;
                }

                button:active {
                    cursor: pointer;
                    background-color: #ffffff;
                    color: black;
                    box-shadow: 0.2rem 0.1rem 1rem rgb(0, 0, 0);
                }
            }
        }
    }
}
