@mixin button-style {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-shadow: -1px 2px 1px black;
    font-size: 1.2rem;
    background: gray;
    color: coral;
    border: 1px solid #000000;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 650;
    width: 100%;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 100ms ease-in-out;
    justify-content: center;
}

@mixin button-hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px white, 0px 0px 10px coral;
}

@mixin button-active {
    background-color: white;
}

.formContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    z-index: 100;
    flex-wrap: wrap;
    flex-direction: column;

    .back:after {
    content: "";
    background: rgba(0,0,0,.65);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
    
    .addedContainer {
        width: 20%;
        display: flex;
        gap: 1rem;
        position: absolute;
        z-index: 101;
        top: 2rem;
        left: 24rem;
        transform: translate(-50%,-50%);
        justify-content: center;
        flex-wrap: wrap;

        p {
            color: green;
            font-size: 1.2rem;
            font-weight:bold;
        }
        button {
            @include button-style();
            width: 20%;
        }
        button:hover {
            @include button-hover();
        }
        button:active {
            @include button-active();
        }
    }

    .taskForm {
    display: flex;
    width: 30%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7607843137);
    border-radius: 1rem;
    padding: 0.9rem;
    border: 1px solid coral;
    top: 26rem;
    left: 26rem;
    transform: translate(-50%, -50%);
    z-index: 100;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    transform: translate(-50%, -50%);

        .errorMessage {
            color: red;
            font-size: 1.5rem;
        }

        .inputField {
            background: transparent;
            outline: none;
            border: none;
            color: chocolate;
            font-size: 1rem;
            width: 100%;
            display: inline-block;
            box-sizing: border-box;
            padding: 0.4rem;
            text-indent: 0.2rem;
            resize: none;
            border-radius: 0.7rem 0.7rem 0px 0px;
            border-bottom: solid rgb(117, 117, 117);
            transition: all ease-in-out 200ms;
        }

        .inputField:hover {
            box-shadow: 0px 1px 20px white;
        }

        .inputField:focus {
        background-color: #830000;
        border-color: #f5f5f5;
        color: #fff;
        border-radius: 0.5rem;
        }

        .inputField:not(:focus) {
            font-size: 1.2rem;
            color: coral;
        }

        .inputField::placeholder {
            font-size: 1rem;
            color: rgb(150, 150, 150);
            transition: all 200ms ease-in-out;
        }

        .inputField:focus::placeholder {
            font-size: 1.2rem;
            color: rgb(180, 180, 180);
        }

        .inputField {
            margin-bottom: 0.5rem;
        }

        label {
            font-size: 1.2rem;
            color: #ffffff;
            text-shadow: 0px 0px 5px white;
            background: transparent;
            border-radius: 0.5rem;
            width: fit-content;
            padding: 0.5rem;
            margin: 0.5rem 0rem 0.2rem 0rem;
            display: flex;
            align-items: center;
        }

        .submitBtn {
            @include button-style();
        }

        .submitBtn:hover {
            @include button-hover();
        }

        .submitBtn:active {
            @include button-active();
        }
    }
}
