main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3.53rem;

    .loaderComp {
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .formContainer {
        width: 100%;
        background-color: rgb(0 0 0 / 81%);
        height: 100vh;
        display: flex;
        justify-content: center;
        z-index: 110;
        position: absolute;
    }

    .showFormButton {
        width: 11rem;
        margin: 1rem;
        border: 1px solid coral;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 5px;
        font-size: 1.1rem;
        font-weight: 700;
        color: #fd9898;
        position: fixed;
        z-index: 110;
        left: 0rem;
        top: 0.1rem;
        background-color: black;
        transition: all 100ms ease-in-out;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .showFormButton:hover {
        cursor: pointer;
        color: coral;
        box-shadow: 1px 1px 10px white;
    }

    .showFormButton:active {
        background-color: white;
    }
}
